<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<%- include('partials/head.ejs') %>
</head>

<body>
	<!-- Header -->
	<%- include('partials/headerNoLogeado.ejs') %> 
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div>
				<form class= "formAngie" action="/" method="GET">
					<div>
						<label for="name">Producto:</label>
				<input id="usuario" type="text" name="usuario" value="">
				</div>
					<div>
						<label for="text">Descripción:</label>
				<input id="usuario" type="text" name="usuario" value="">
				</div>
				<div>
					<label for="date">Fecha de carga:</label>
			<input id="fecha" type="date" name="fecha" value="">
			</div>
				<div>
						<button type="submit">Cargar</button> 
				</div>
				</form>
	
			</div>


	<!-- footer -->
	<%- include('partials/footer.ejs') %> 
	<!-- /footer -->
</body>

</html>