<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<%- include('partials/head.ejs') %>
</head>
<body>
	<!-- Header -->
	<%- include('partials/headerNoLogeado.ejs') %> 

	<!-- product detail heladera-->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title"> Heladera Electrolux</h2>  
			<p class="product-detail-description">
				<a href="/proyectoFinal/views/productAdd.ejs">Editar</a>  <!-- VER ESTOOOOOO-->
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/stylesheets/images/heladera.png" alt="imagen" class="product-detail-img">    
					<p class="product-detail-description">"Heladera Electrolux Puerta Francesa Multidoor DM90X de 25 Pies, con Pantalla Táctil Blue Touch, iluminación Led, Doble cajón de Frutas y Vegetales, estantes de vidrio templado, Fábrica de hielo y Dispensador de Agua automático."	</p>                               <!-- agregar descripcion -->
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<% for(let i=0; i<comentarios.length; i++){%>
							<article>
								<img src="https://via.placeholder.com/35" alt="">
								<div class="data">
									<p class="user">
									<strong> <a href="profile.html">Nombre usuario: </a> </strong>
									 <%=comentarios[i].comentario%></p>
								</div>
							</article>
							<%}%>
					
					</section>
					<form class="form" action="" method="POST">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	
	<!-- footer -->
    <%- include('partials/footer.ejs') %> 
	<!-- /footer -->

</body>	
</html>