<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<%- include('partials/head.ejs') %>

<body>
	<!-- Header -->
	<%- include('partials/headerNoLogeado.ejs') %> 

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Registrate</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div>
				<form class= "formAngie" action="/usuarios" method="POST" enctype= 'multipart/form-data'>
					<div>
						<label for="email">Email:</label>
				<input id="email" type="text" name="email" value="">
				<p><%= res.locals.message %> </p>
				</div>
					<div>
						<label for="usuario">Usuario:</label>
				<input id="usuario" type="text" name="usuario" value="">
				</div>
				<div>
					<label for="contraseña">Contraseña:</label>
			<input id="contraseña" type="password" name="contraseña" value="">
			</div>
			<div>
				<label for="contraseña2">Vuelva a escribir la contraseña :</label>
		<input id="contraseña2" type="password" name="contraseña2" value="">
		</div>
			<div>
				<label for="fechaDeNacimiento">Fecha de nacimiento:</label>
		<input id="fecha" type="text" name="fecha" value="">
		</div>
		<div>
			<label for="email">DNI:</label>
	<input id="dni" type="number" name="dni" value="">
	</div>
	<div>
		<label for="email">Foto de perfil:</label>
<input type="file" name="avatar" value="">
</div>
				
				<div>
						<button type="submit">Enviar</button> 
				</div>
				</form>
	
			</div>

	<!-- footer -->
	<%- include('partials/footer.ejs') %> 
</body>

</html>